/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.container {
    padding: 16px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.caixa img{
    height: 17rem;

}

.caixa{
    padding: 1rem;
}

/* Header */


.main-head {
    background: #6a8bb3;
    color: white;
}

nav {
    padding: 0.1rem;
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
    align-items: center;

}


#logo {
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    font-size: 4rem;
}

.img-logo{
    padding-right: 3rem;
}

.cart{
    width: 30px;
}


/* Main */


.main {
    background: linear-gradient(rgba(0, 0, 0, 0.452), transparent), url('/img/pexels-visionpic-net-319934.jpg');
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Sorteio */

.sorteio{
    text-align: center;
    padding: 3rem;
}

#peixeSorteado{
    padding: 3rem;
}


/* Cardapio */

.cardapio{
    text-align: center;
}

.cardapio h1{
    padding: 3rem;
}

.cardapio span{
    font-size: 2rem;
    padding-right: 2rem;
    padding-left: 0.4rem;
}

.cardapio input{
    transform : scale(1.4);
    margin-top: 0.4rem;
}

.escolhas{
    display: flex;
    width: 60%;
    margin: auto;

}

.escolha-cubo{
    flex: 1 1 20rem;
    flex-wrap: wrap;
}

/* Variedade de Peixes */

.vitrine{
    min-height: 30vh;
    text-align: center;
}



.vitrine-flex{
    display: flex;
    justify-content: center;
}

.vitrine-flex .caixa{
    flex: 1 1 20rem;
    flex-wrap: wrap;
}

.NomePeixe{
    display: block;
    flex-wrap: nowrap;
}


/* Cadastro */

.link-fundo {
    color: blue;
}

.registro{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: auto;
}

.signin{
    text-align: center;
}

/* Carrinho */

.carrinho{
    padding: 3rem;
    width: 20%;
}