/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

/* Nav Section */

.main-head {
  background: #686466 80%;
  padding: 1rem 0rem;
  color: white;
}

#logo {
  flex: 0.3 1 1rem;
  font-weight: normal;
}

.logo-sigla {
  color: #f6c500;
  font-size: 4rem;
  font-weight: bold;
}

.barra-pesquisa {
  flex: 1 1 25rem;
  background: #839cb5;
  padding: 0.3rem 0 0.3rem 0.3rem;
  border-radius: 5px;
  display: flex;
}

.barra-pesquisa input {
  padding: 1rem 0rem;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.barra-pesquisa img {
  width: 40px;
  color: white;
  padding: 0rem 1rem;
}

.main-head nav {
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-head ul {
  display: flex;
  flex: 0.5 1 25rem;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.main-head li {
  padding-left: 2rem;
}

/* Links */

.links {
  background: #839cb5;
}

.links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.links li {
  padding: 2rem 0rem 2rem 10rem;
}

/* Hero */

.hero {
  min-height: 90vh;
  background: url("../Img/pexels-pavel-danilyuk-7190953.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 20px;
}

.hero h2 {
  text-align: center;
  padding-top: 5rem;
  color: #839cb5;
}

/* Items */

.items {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caixa-item {
  padding: 4rem 1rem;
  flex: 1 1 10rem;
}

.imagem-item {
  width: 40rem;
}

.laptop {
  width: 50rem;
}

.smartwatch {
  width: 30rem;
}

.items-texto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.items-texto h3 {
  color: #9d9d9d;
  padding: 0rem 3rem;
}

.items-texto img {
  align-self: flex-end;
}

/* Beneficios */

.beneficios {
  display: flex;
  width: 80%;
  margin: auto;

  min-height: 40vh;
}

.main-texto-beneficios {
  text-align: center;
}

.img-beneficio {
  height: 30rem;
  flex: 1 1 25rem;
}

.container-caixa-beneficios {
  display: flex;
  flex-wrap: wrap;
}

.caixa-beneficio {
  background: #b1e1e9;
  padding: 2rem;
  display: flex;

  margin: 1rem;
  border-radius: 10px;
  width: 70%;
  flex: 1 1 25rem;
  align-items: center;
}

.caixa-beneficio img {
  width: 10rem;
  padding-right: 1rem;
}

.caixa-beneficio p {
  font-size: 1.5rem;
  padding: 1.5rem 0rem;
}

/* Produtos Novos */

.head-prod-novos {
  margin: 3rem;
  text-align: center;
}
.caixa-flex-prod {
  display: flex;
}

.produtos {
  display: flex;

  min-height: 50vh;
  flex-wrap: wrap;
  align-items: baseline;
}

.risco {
  color: gray;
  text-decoration: line-through;
}

.valor-prod {
  color: #1863ad;
}

.prod-oferta {
  margin: 5rem 1rem 0rem 15rem;
  text-align: center;
}

.prod-oferta h1 {
  padding: 2rem 0rem;
}

.prod-oferta h4 {
  word-spacing: 16rem;
  padding: 1rem 3rem;
}

.prod-oferta h3 {
  padding: 3rem 0rem;
}

.prod-caixa {
  flex: 2 1 50rem;

  margin: 2rem 3rem;
  text-align: center;
}

.img-prod {
  width: 30rem;
}

.img-mi-band {
  width: 20rem;
}

/* Footer */

footer {
  display: flex;
  min-height: 40vh;
  background: #98c5cc;
  color: white;
}

.pe-coluna {
  width: 50%;
  padding-left: 10rem;
  padding-top: 5rem;
}

.bloco-contato {
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
}

.bloco-contato p {
  padding-left: 1rem;
}

.bloco-contato a {
  font-size: 2rem;
  padding-left: 1rem;
}

/* Login */

.formulario-login {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgb(19, 28, 39, 0.8);
  width: 50%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.name-form,
.psw-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 2rem 3rem;
  display: block;
  text-align: left;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0rem;
  align-content: center;
}

.form-wrapper input {
  padding: 1rem 3rem;
  width: 90%;
}

.form-wrapper a {
  font-size: 2rem;
  display: block;
  text-align: center;
  padding: 1rem 0rem;
}

.exigencia{
  font-size: 1rem;
  text-align: left;
  padding-left: 3rem;
  padding-top: 1rem;
  color: gray;
}

.hidden{
  display: none;
}